
[mastodon]
url = "https://mastodon.social"
# Leave blank and fill in the [mastodon.client] section to acquire a token:
token = ""

[mastodon.client]
# Making requests to Mastodon requires authorization via a "client".
# You can create your own client in the "Developer" section of your
# Mastodon settings. Once you've done that, copy the key/secret here,
# and re-run feomasto.ts to generate a mastodon.token (above).

key = ""
secret = ""

[feoblog.write]
# feomasto will write statuses from Mastodon into this Feoblog blog:
userID = "716QP7FDUSGj2jct4tChEg6qKGgVM9UkVdVvpBzLyUeZ"
password = "Wouldn't you like to know."

[feoblog.read]
# feomasto will read statuses from this FeoBlog blog into Mastodon:
userID = "not yet implemented"